* {
  box-sizing: content-box;
}

html {
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", helvetica, arial, sans-serif;
  height: 100vh;
  margin: 0;
  transition: opacity .2s;
  font-size: 20px;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  transition: height .3s;
  padding: 20px;
  background-color: #74b1be;
  color: #fff;
}

.header-note {
  flex: 1 0 auto;
  text-align: center;
}

.open-settings-button {
  cursor: pointer;
}

footer {
  height: 5vh;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #74b1be;
  color: #fff;
}

.footer-note {
  margin-right: 40px;
}

.is-collapsed {
  height: 5vh;
}

.is-collapsed .drop-target {
  border-width: 5px;
  border-radius: 5px;
  font-size: 20px;
}

main {
  background-color: #eee;
  overflow-y: auto;
  flex: 1 1 0%;
}

.is-drag-over {
  opacity: .5;
}

.container {
  padding: 20px;
}

.file-list {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  padding: 16px;
  margin: 0;
  width: 100%;
  text-align: left;
  transition: .2s opacity;
}

.file-list-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  padding: 8px;
  margin-bottom: 8px;
}

.file-preview {
  height: 40px;
  width: 40px;
  object-fit: cover;
  background-color: #c0c0c0;
}

.file-list-item:last-child {
  margin-bottom: 0;
}

.drop-target {
  border: 10px dashed;
  border-radius: 10px;
  text-align: center;
  font-size: 32px;
  color: gainsboro;
  font-weight: bold;
  transition: .3s;
  max-height: 80%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  width: 300px;
}

.drop-target.is-drag-entered {
  color: #ccc;
}

.is-transparent {
  opacity: 0;
}

.settings {
  background-color: #eee;
  opacity: 0;
  width: 80%;
  height: 80%;
  transition: .5s;
}

.settings.is-open {
  border: none;
  opacity: 1;
}

.settings::backdrop{
  background-color: rgba(0,0,0,.5)
}

.settings-header {
  display: flex;
  margin-bottom: 1rem;
}

.settings-title {
  flex: 1 0 auto;
  margin: 0;
  line-height: 1;
  font-size: 1.5rem;
}

.settings h2 {
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
}

.settings p {
  font-size: .75rem;
}

.settings-close-button {
  cursor: pointer;
  font-size: 1.5rem;
}

.settings-input-destination {
  padding: 10px;
}

[class|="settings-input"] {
  margin-bottom: 1rem;
  width: 50%;
}

[class|="settings-label"] {
  vertical-align: middle;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 50%;
    height: .25rem;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #74b1be;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: relative;
}

input[type="range"]::-webkit-slider-thumb:after {
    position: absolute;
    color: gold;
    content: "hello"
}


button {
  background: #fff;
}